<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Edit user</title>
    </head>
    <body>
        <div id="wrapper">
            <form action="/users/id/edit">
                <h1>Add a new user</h1>
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name">
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name">
                    <label for="email">Email:</label>
                    <input type="text" name="email">
                    <input type="submit" value="Update">
            </form>
            <p><a href="/users/id">Show</a> <span> | </span> <a href="/users">Go Back</a></p>
        </div>
    </body>
</html>